@keyframes play60 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -9000px 0px;
  }
}
.shapeshifter {
  margin-top: 400px;
  margin-left: auto;
  margin-right: auto;
  animation-duration: 2000ms;
  animation-timing-function: steps(60);
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  animation-fill-mode: forwards;
  animation-iteration-count: 20;
}
.shapeshifter.play {
  animation-name: play60;
}

p{
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
}